<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <title>Flask-Sqlite3 Demo</title>

    <!-- css from w3 site for the table -->
    <style>
        body {
            margin: 10px;
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body>
    <p>{{pagename}}</p>
    <div style="margin: 10px 0; padding : 5px; border: black solid 1px;">
        <a href="{{url_for('add')}}">เพิ่มข้อมูล</a>
        <a href="{{url_for('search')}}">ค้นหาข้อมูล</a>
        <a href="{{url_for('edit')}}">แก้ไขข้อมูล</a>
        <a href="{{url_for('delete')}}">ลบข้อมูล</a>
    </div>
    <table>
        <tr>
            <th>รหัสอาหาร</th>
            <th>ชื่อรายการ</th>
            <th>ประเภทอาหาร</th>
            <th>ราคา</th>
        </tr>
        <!-- loop through the users we passed in the app. -->
        {% for m in menu %}
        <tr>
            <td>{{ m[0] }}</td>
            <td>{{ m[1] }}</td>
            <td>{{ m[2] }}</td>
            <td>{{ m[3] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</html>